body{
    background: whitesmoke;
}
.regsiter{
    height: 90vh;
    width: 100%;
}

.rContainer{
    margin: 20% auto;
    width: 30%;
    height: 35vh;
    background: white ;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input{
    padding: 10px;
    border-radius: 4%;
    border: 1px solid gray;
}

button{
    padding: 5px;
    width: 35%;
}